<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    PROTECT THIS FILE!
    Ensure that you set permissions on this file or folder so that only your service account(s) can access it.
-->
<Settings>
    <EdsbyLink>
        <EdsbyLinkRootPath></EdsbyLinkRootPath>
        <EdsbyLinkURL></EdsbyLinkURL>
        <EdsbyLinkSchool></EdsbyLinkSchool>
        <EdsbyLinkPassword></EdsbyLinkPassword>
        <EdsbyLinkUserID></EdsbyLinkUserID>
    </EdsbyLink>
    <MySchoolSask>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPrivateKeyPath></SFTPPrivateKeyPath>
        <SFTPHostKey></SFTPHostKey>
        <ReportingDatabaseConnectionString></ReportingDatabaseConnectionString>
    </MySchoolSask>
    <SchoolMessenger>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPassword></SFTPPassword>
        <SFTPHostKey></SFTPHostKey>
    </SchoolMessenger>
    <Clever>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPassword></SFTPPassword>
        <SFTPHostKey></SFTPHostKey>
    </Clever>
    <Clevr>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPassword></SFTPPassword>
        <SFTPHostKey></SFTPHostKey>
    </Clevr>
    <Xello>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPassword></SFTPPassword>
        <SFTPHostKey></SFTPHostKey>        
    </Xello>
    <Utilities>
        <WinSCPPath></WinSCPPath>
        <SevenZipPath></SevenZipPath>
    </Utilities>
    <Identity>
        <IdentityScriptsRootPath></IdentityScriptsRootPath>
        <FacilityFile></FacilityFile>
        <ConfigFile></ConfigFile>
    </Identity>
    <LSSDLunch>
        <LSSDLunchConfigFile></LSSDLunchConfigFile>
        <LSSDLunchRootPath></LSSDLunchRootPath>
        <LSSDLunchEXEName></LSSDLunchEXEName>
        <LSSDLunchFilterSchools></LSSDLunchFilterSchools>
    </LSSDLunch>
    <Insignia>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPassword></SFTPPassword>
    </Insignia>
    <SchoolCash>
        <SFTPHost></SFTPHost>
        <SFTPPort></SFTPPort>
        <SFTPUser></SFTPUser>
        <SFTPPassword></SFTPPassword>
    </SchoolCash>  
    <ImagineEverythingEduForms>
        <S3BucketAccessKey></S3BucketAccessKey>
        <S3BucketSecret></S3BucketSecret>
        <S3BucketName></S3BucketName>
        <S3Region></S3Region>
    </ImagineEverythingEduForms>
    <WebHookURL></WebHookURL>
    <LogFilePassword></LogFilePassword>
    <PythonExecutable></PythonExecutable>
    <UtilitiesScriptsRoot></UtilitiesScriptsRoot>
</Settings>
