<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    PROTECT THIS FILE!
    Ensure that you set permissions on this file or folder so that only your service account(s) can access it.
-->
<Settings>
    <MySchoolSask>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPrivateKeyPath></SFTPPrivateKeyPath>
        <SFTPHostKey></SFTPHostKey>
    </MySchoolSask>
    <SchoolMessenger>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPassword></SFTPPassword>
        <SFTPHostKey></SFTPHostKey>
    </SchoolMessenger>
    <Clever>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPassword></SFTPPassword>
        <SFTPHostKey></SFTPHostKey>
    </Clever>
    <Clevr>
        <SFTPHost></SFTPHost>
        <SFTPUser></SFTPUser>
        <SFTPPassword></SFTPPassword>
        <SFTPHostKey></SFTPHostKey>
    </Clevr>
    <Utilities>
        <WinSCPPath></WinSCPPath>
        <SevenZipPath></SevenZipPath>
    </Utilities>
    <Identity>
        <IdentityScriptsRootPath></IdentityScriptsRootPath>
        <FacilityFile></FacilityFile>
        <ConfigFile></ConfigFile>
    </Identity>
    <WebHookURL></WebHookURL>
    <LogFilePassword></LogFilePassword>
</Settings>
